Assets/Resources/Prefabs/Levels/** filter=lfs diff=lfs merge=lfs -text
"Assets/Resources/Prefabs/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/**" filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/** !text !filter !merge !diff
Assets/Prefabs/Levels/** !text !filter !merge !diff
Assets/Resources/** !text !filter !merge !diff
