Assets/Scenes/0-ReactorLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/1-MedicalLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/2-ScienceLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/3-MaintenanceLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/4-StorageLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/5-FlightDeckLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/6-ExecutiveLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/7-EngineeringLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/8-SecurityLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/9-BridgeLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/10-AlphaGroveLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/11-BetaGroveLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/12-DeltaGroveLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Scenes/13-CyberspaceLevelScene/**" filter=lfs diff=lfs merge=lfs -text
"Assets/Prefabs/Levels/**" filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/** !text !filter !merge !diff
Assets/Prefabs/Levels/** !text !filter !merge !diff
Assets/Resources/** !text !filter !merge !diff
